@{
    ViewBag.Title = "OU Football";
}

<div class="jumbotron">
    <h1>OU Football</h1>
    <p class="lead">This is a website about OU Football.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

